/*
.menuItem:hover{
    -fx-border-color: #660099;
    -fx-border-width: 0px 0px 3px 0px;
}

.sidebarItem:hover{
    -fx-background-color: #146886;
    -fx-border-color: WHITE;
    -fx-border-width: 0px 0px 0px 3px;
}
*/

#loginButton{

    -fx-text-fill : #532D84 ;
    -fx-font-size : 20px;
    -fx-background-radius : 15px;

}

.button
{
       -fx-background-color :  #AF77D5  ;
       -fx-border-width: 0.5;

}

.button:hover{
   -fx-background-color :  #7E4EAC ;
   -fx-text-fill : #532D84;
   -fx-border-width: 0.5;
    /* -fx-border-color:  */
}

#navBarButton1{
    -fx-font-size : 20px;
    -fx-font-family : "Franklin Gothic Demi";
}

#navBarButton2{
    -fx-font-size : 20px;
    -fx-font-family : "Franklin Gothic Demi";
}
#navBarButton3{
    -fx-font-size : 20px;
    -fx-font-family : "Franklin Gothic Demi";
}

#searchByNameButton{
    -fx-font-size : 15px;
    -fx-font-family : "Franklin Gothic Demi";
}

#showResultButton{

    -fx-text-fill : #FDFCFC ;
    -fx-font-size : 20px;
    -fx-background-radius : 15px;
    -fx-font-family : "Franklin Gothic Demi";
}

